<a href="#addcity-modal" class="modal-trigger">Add a new city</a>

<div id="addcity-modal" class="modal">
  <div class="modal-content">
    <h4>Add a new city</h4>
    <form id="addcity-form">
        <input type="text" id="form-addcity" name="name" placeholder="City Name">
        <input type="text" id="form-addzip" name="zipcode" placeholder="Zip Code">
        <div class="modal-footer">
          <input type="submit" value="Get City">
        </div>
    </form>

  </div>
</div>
