<!--  Fonts -->
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!--  Stylesheets -->
<link rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/css/styles.css" charset="utf-8">



<!--  Javascripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js" charset="utf-8"></script>
<script src="/materialize/js/materialize.min.js" charset="utf-8"></script>
<script src="/js/directionscripts.js" charset="utf-8"></script>
<script src="/js/scripts.js" charset="utf-8"></script>




<!--  Templates -->
<script id="city-data" type="text/x-handlebars-template">
  {{#each cities.favorites}}
    <!-- <div id="city-img">
      {{ cityimg }}
    </div> -->
    <div id="city-name">
      <h3> {{ name }} </h3>
    </div>
    <!-- <div id="city-temp">
      <h4>Temperature: {{ temperature }} </h4>
    </div> -->
    <div >
      <h5> {{ zipcode }} </h5>
    </div>
  {{/each}}
</script>

<script id="user-profile" type="text/x-handlebars-template">
  {{#each users}}
    <div id="first-name">
      {{ name: first }}
    </div>
    <div id="last-name">
      {{ name: last }}
    </div>
    <div id="username">
      {{ name: username }}
    </div>
    <div id="password">
      {{ password }}
    </div>
  {{/each}}
</script>

<script id="default-weather" type="text/x-handlebars-template">
  <h5>{{current_observation.display_location.full}}</h5>
  <h4>{{current_observation.temp_f}} °F </h4>
  <h5>{{current_observation.weather}}</h5>
  <img src={{current_observation.icon_url}} class="weather-icon" alt="weather-icon">
</script>

<script id="best-weather" type="text/x-handlebars-template">
  <h5>{{city}}</h5>
  <h4>{{currenttemp_f}} °F </h4>
  <h5>{{description}}</h5>
  <img src={{icon}} class="weather-icon" alt="weather-icon">
  <h5>{{get directions}}</h5>
</script>

<script id="directions" type="text/x-handlebars-template">
  <h4>Directions to {{routes.[0].legs.[0].end_address}} </h4>
  <h5>Distance: {{routes.[0].legs.[0].distance.text}}</h5><h5>Travel Time:{{routes.[0].legs.[0].duration.text}} %></h5>
  <ol>
    {{#each routes.[0].legs.[0].steps}}
    <li>{{{this.html_instructions}}}</li>
    {{/each}}
  </ol>
</script>
