<!--  Fonts -->


<!--  Stylesheets -->
<link rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/css/styles.css" media="screen" title="no title" charset="utf-8">



<!--  Javascripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js" charset="utf-8"></script>
<script src="/js/scripts.js" charset="utf-8"></script>


<!--  Templates -->
<script id="city-data" type="text/x-handlebars-template">
  {{#each cities}}
    <div id="city-img">
      {{ cityimg }}
    </div>
    <div id="city-name">
      <h3> City: {{ cityname }} </h3>
    </div>
    <div id="city-temp">
      <h4>Temperature: {{ temperature }} </h4>
    </div>
    <div id="city-bio">
      <h5> {{ bio }} </h5>
    </div>
  {{/each}}
</script>
