
<div class="slider fullscreen">
    <ul class="slides">
      <li>
        <img src="/images/indexview/nature-sky-sunny-clouds.jpg">
      </li>
      <li>
        <img src="/images/indexview/road-dawn-mountains-sky.jpeg">
      </li>
      <li>
        <img src="/images/indexview/sea-dawn-sky-sunset.jpg">
      </li>
      <li>
        <img src="/images/indexview/jetty-landing-stage-sea-sky.jpeg">
      </li>
    </ul>
  </div>
