<div class="user-manager">
    <h4>Welcome</h4>
    <form class="login-form">
      <div class="login-body">
        <input type="text" name="username" placeholder="User Name">
        <input type="password" name="password" placeholder="Password">
      </div>
        <input type="submit" value="login" id="login-btn" class=" waves-effect waves-light deep-orange btn">
    </form>
    <a href="#sign-up-modal" class="modal-trigger">Don't have an account yet? Sign up! </a>
</div>
