<div class="user-manager">
    <!-- <h4>Sign up to get great FunInTheSun locations!</h4>
    <form id="sign-up">
    <input type="text" name="username" placeholder="User Name">
    <input type="pasword" name="password" placeholder="Password">
    <input type="submit" placeholder="Sign Up">
</form> -->
<!-- Signup Modal -->
<div id="sign-up-modal" class="modal">
  <div class="modal-content">
    <h4>Sign Up!</h4>
    <form id="sign-up">
      <label for="username"> username: </label>
      <input type="text" name="username" placeholder="User Name">
      <label for="password">password:</label>
      <input type="password" name="password" placeholder="Password">
      <label for="firstname">first name: </label>
      <input type="text" name="firstname" placeholder="First Name">
      <label for="lastname">last name: </label>
      <input type="text" name="lastname" placeholder="Last Name">
      <label for="city">current city: </label>
      <input type="text" name="city" placeholder="city">
      <label for="city">location nickname (optional): </label>
      <input type="text" name="nickname" placeholder="nickname">
      <label for="zipcode">zipcode: </label>
      <input type="text" name="zipcode" placeholder="zipcode">



      <div class="modal-footer">
        <input type="submit" placeholder="Sign Up" class=" modal-action modal-close waves-effect waves-green btn-flat">
      </div>
    </form>
  </div>
</div>



<div class="user-manager">
    <h4>Log In</h4>
    <form id="log-in">
        <input type="text" name="username" placeholder="User Name">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" placeholder="Log In" />
    </form>
    <a href="#sign-up-modal" class="modal-trigger">Don't have an account yet? Sign up! </a>
</div>
