<div class="user-manager">
    <!-- <h4>Sign up to get great FunInTheSun locations!</h4>
    <form id="sign-up">
    <input type="text" name="username" placeholder="User Name">
    <input type="pasword" name="password" placeholder="Password">
    <input type="submit" placeholder="Sign Up">
</form> -->
<!-- Signup Modal -->
<div id="sign-up-modal" class="modal">
    <div class="modal-content">
        <h4>Sign Up!</h4>
        <form id="sign-up">
            <div class="row">
                <div class="col s6">
                    <!-- <label for="username"> username: </label> -->
                    <input type="text" name="username" placeholder="User Name">
                </div>
                <div class="col s6">
                    <!-- <label for="password">password:</label> -->
                    <input type="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <!-- <label for="firstname">first name: </label> -->
                    <input type="text" name="name[first]" placeholder="First Name">
                </div>
                <div class="col s6">
                    <!-- <label for="lastname">last name: </label> -->
                    <input type="text" name="name[last]" placeholder="Last Name">
                </div>
            </div>
            <div class="row">
                <!-- <label for="city">current city: </label> -->
                <input type="text" name="cities[main][name]" placeholder="city">
            </div>
            <div class="row">
                <div class="col s6">
                    <!-- <label for="nickname">location nickname (optional): </label> -->
                    <input type="text" name="cities[main][nickname]" placeholder="location nickname (optional)">
                </div>
                <div class="col s6">
                    <!-- <label for="zipcode">zipcode: </label> -->
                    <input type="text" name="cities[main][zipcode]" placeholder="zipcode">
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Sign Up" class="waves-effect waves-green btn-flat">
            </div>
        </form>
    </div>
</div>




<div class="user-manager">
    <h4>Welcome</h4>
    <form id="log-in">
      <div class="login-body">
        <input type="text" name="username" placeholder="User Name">
        <input type="password" name="password" placeholder="Password">
      </div>
        <input type="submit" value="login" id="login-btn" class=" waves-effect waves-light deep-orange btn">
    </form>
    <a href="#sign-up-modal" class="modal-trigger">Don't have an account yet? Sign up! </a>
</div>
