<div class="user-manager">
  <h4>Sign up to get great FunInTheSun locations!</h4>
  <form id="sign-up">
    <input type="text" name="username" placeholder="User Name">
    <input type="pasword" name="password" placeholder="Password">
    <input type="submit" placeholder="Sign Up">
  </form>
</div>

<div class="user-manager">
  <h4>Log In</h4>
  <form id="log-in">
    <input type="text" name="username" placeholder="User Name">
    <input type="pasword" name="password" placeholder="Password">
    <input type="submit" placeholder="Log In" />
  </form>
</div>
