<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fun In The Sun</title>
    <% include ./partials/head %>
  </head>

  <body>
    <div class="container">
      <section id="user-manager">
        <% include ./partials/user-manager %>
      </section>

      <section id="render-cities">
      </section>
    </div>

  </body>
</html>
