<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Fun In The Sun</title>
  <% include ./partials/head %>
</head>

<body>
  <!-- Nav Bar -->
  <% include ./partials/navbar %>

  <!-- Transitioning Backgrounds -->
  <% include ./partials/indexbackgrounds %>

  <div class="container" id="index-container">
    <!-- Login Form  -->
    <% include ./partials/login %>
  </div>

  <!-- Signup Modal -->
  <% include ./partials/signup %>

</body>
</html>
