nav {
  background-color: rgba(255,87,34, 0.9);
}

.logo {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  font-size: 1.75em;
  margin-left: 3em;
  position:relative;
}
.logo::before{
    height:2.5em;
    width:2.5em;
    margin-left: -2.5em;
    margin-top: .05em;
    background-repeat: none;
    -webkit-background-size: contain;
    background-size: contain;
    display: inline-block;
    position: absolute;
    content:"";
    background-image: url(/images/getsun_small.png);
}

/*************************************/
/*************INDEX VIEW*************/
/***********************************/

.slider .fullscreen{
  z-index: 1;
}

#index-container {
  position: fixed;
  margin: 5% 15%;
  z-index: 2;
}

.user-manager {
  border-radius: 5px;
  text-align: center;
  width: 50%;
  margin: 3em auto;
  background: rgba(255, 255, 255, 0.75);
  padding: .5em;
  color: #ff7043;
}

.user-manager a {
  color: #ff7043;
  font-weight: bold;
  padding-bottom: 1em;
}

.login-form {
  padding: 3em;
}

.login-body {
  margin-bottom: 2em;
}

/*************************************/
/*************SIGNUP MODAL***********/
/***********************************/

#sign-up-modal  {
  color: #ff7043;
  text-align: center;
}


/*************************************/
/*************USER PROFILE***********/
/***********************************/

body {
  background-size: cover;
  background-position: center fixed;
  background-repeat: no-repeat;
  height: 100vh;
}

.welcome {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.01));
  margin-top: 8em;
  margin-left: -1em;
  padding: .5em 2em 2em 3em;
  font-family: 'Comfortaa', cursive;
  text-align: center;
  color: #696969;
}

.welcome h1 {
  text-align: left;
  margin-bottom: .5em;
}

#current-weather {
  margin-left: 3em;
  margin-bottom: 1em;

}
#scroll-cards {
  height: 90vh;
  overflow: scroll;
}

.card-content{
  background-color: rgba(255, 255, 255, .2);
}

.loader-container{
    width: 100%;
    text-align: center;
    margin-top: 30vh;
}

#directions-modal {
  font-family: roboto;
  text-align: left;
  color: black;
}
