<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <% include ../partials/head %>

  </head>
  <body>

    <% include ../partials/navbar %>

    <div id="zipcode" style="display: none"><%= user.cities.main.zipcode %>

    </div>
    <div class="container">
      <h1><%= user.username %></h1>
      <% include ../partials/directions %>
      <% include ../partials/addcity %>
      <% include ../partials/edituser %>


      <div id="current-weather">

      </div>



      <button id="getCities" class="waves-effect waves-teal btn-flat">Get Cities' Weather</button>

      <section id="directions-view"></section>

      <section id="render-cities"></section>


      <section id="render-user">







      <section id="render-user">

      </secton>
    </div>
  </body>
</html>
