<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <% include ../partials/head %>
    <% include ../partials/profilehead %>

  </head>
  <body>
    <% include ../partials/navbar %>
    <div class="row" id="profile-container" >
      <div class="col s8">

        <div class="welcome">
          <h1>Hello <%= user.name.first %>.</h1>
          <div id="current-weather"></div>
          <% include ../partials/directions %>
          <% include ../partials/addcity %>
          <% include ../partials/edituser %>
          <button id="getCities" class="btn waves-effect waves orange">Find Best Weather</button>
        </div>

        <div id="best-results"></div>



        <section id="directions-view"></section>

        <section id="user-cities">
          <div id="render-cities"></div>
        </section>

        <section id="render-user"></secton>
      </div>

      <div class="col s4" id="scroll-cards">
        <ul id="results-list" class="cards-template" style="margin-left: 1em">


        </ul>
      </div>

    </div>
    <div class="printable-area"></div>
  </body>
</html>
