<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <% include ../partials/head %>

  </head>
  <body>

    <!-- <% include ./partials/navbar %> -->
    <div class="container">
      <h1><%= user.username %></h1>
      <% include ./partials/directions %>

      <button id="edit-user" href="#edit-modal" class="modal-trigger waves-effect waves-teal btn-flat">Edit</button>
      <form id="directions-form">
          <input type="text" id="form-zip" placeholder="Zipcode">
          <input type="submit" value="Go!">
      </form>
      <section id="directions-view"></section>
      <section id="render-user">
      <div id="edit-modal" class="modal">
          <div class="modal-content">
              <h4>Sign Up!</h4>
              <form id="edit-user">
                  <label for="firstname">first name: </label>
                  <input type="text" name="user[name][first]" placeholder="First Name">
                  <label for="lastname">last name: </label>
                  <input type="text" name="user[name][last]" placeholder="Last Name">
                  <label for="city">current city: </label>
                  <input type="text" name="user[cities][main][name]" placeholder="city">
                  <label for="city">location nickname (optional): </label>
                  <input type="text" name="user[cities][main][nickname]" placeholder="nickname">
                  <label for="zipcode">zipcode: </label>
                  <input type="text" name="user[cities][main][zipcode]" placeholder="zipcode">

                  <div class="modal-footer">
                      <input type="submit" placeholder="Submit Changes" class=" modal-action modal-close waves-effect waves-green btn-flat">
                  </div>
              </form>
          </div>
      </div>


      <section id="render-user">

      </secton>
    </div>
  </body>
</html>
