<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Profile</title>
    <% include ../partials/head %>
  </head>
  <body>

    <section id="render-user">
    </section>


  </body>
</html>
